<div class='component-content'>
    <div class='lefthalf'>
        <span class='component-title'>{{title}} </span>
    </div>
</div>
<p *ngIf='!cast'>Loading...</p>
<div *ngIf='cast'>
    <main class="single">
        <table class="table tabe-sm">
            <tr>
                <td>
                    Movie:
                </td>
                <td>
                    <select [(ngModel)]="cast.movie" class="rounded" [compareWith]="compMovie">
                        <option *ngFor='let m of movies' [ngValue]='m'>{{m.name}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Actor:
                </td>
                <td>
                    <select [(ngModel)]="cast.actor" class="rounded" [compareWith]="compActor">
                        <option *ngFor='let a of actors' [ngValue]='a'>{{a.lastName + ", " + a.firstName}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Role:
                </td>
                <td>
                    <input [(ngModel)]="cast.role" class="rounded" type="text">
                </td>
            </tr>
            <span><button (click)="save()" class="btn btn-sm btn-primary">Save</button></span>
            |
            <span><button (click)="backClicked()" class="btn btn-sm btn-primary">Back</button></span>
        </table>
    </main>
</div>